.div-historiales{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-historiales-historial{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

