.main-añadir-paciente{
    display: flex;
    justify-content: space-between;

    height: 91vh;
}

.aside-button button{
    background-color: transparent;
    border: none;
    width: 100%;
}

.aside-button button{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.aside-button :hover{
    background-color: #7AAC51;
}